{
  "extends": [
    "plugin:vue/recommended",
    "eslint:recommended"
  ],
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules" : {
    "quotes": ["warn", "double"],
    "semi": ["warn", "always"],
    "comma-dangle": ["warn", "never"],
    "no-cond-assign": ["warn", "always"],
    "no-console" : "off"
  },
  "env": {
    "node" : true,
    "es6" : true,
    "commonjs": true,
    "browser" : true
  }
}
